* {
	box-sizing: border-box;
}
html, body {
	margin: 0;
}
#bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: -100;
	opacity: 0.2;
	background: url(images/background.jpg) center/cover no-repeat;
	transform: scaleX(-1); /* Flip image horizontally */
}
#error {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	text-align: center;
	color: white;
	font: bold 48px sans-serif;
	background: red;
	z-index: 1000;
}
#info, #power-info {
	width: 34vw;
	left: 1vw;
	border: 2px solid gold;
	border-width: 2px 0 2px 2px;
	background: white;
	border-radius: 8px 0 0 8px;
}
#info {
	position: absolute;
	top: 11vh;
	text-align: center;
	font: 48px sans-serif;
	padding: 0.5vh;
	font-family: monospace;
}
#speedometer-container {
	position: absolute;
	top: 23vh;
	left: 0;
	width: 35vw;
	height: 30vw;
}
#speedometer {
	width: 100%;
	height: 100%;
}
#speed {
	position: absolute;
	left: 0;
	bottom: 2%;
	width: 100%;
	font: bold 72px sans-serif;
	text-align: center;
}
#power-info {
	position: absolute;
	bottom: 11vh;
	height: 16vh;
	font: 26px sans-serif;
}
td.label {
	text-align: right;
	padding-right: 0.2em;
}
.sensor {
	display: inline-block;
	font-family: monospace;
	background: black;
	color: white;
	border: 1px solid gold;
	border-radius: 8px;
	padding: 0 4px 0 4px;
}

/* Webcam is displayed at 4:3, despite actually being 16:9 */
#camera { 
	position: absolute;
	top: 10vh;
	right: 1vw;
	text-align: right;
	width: 110vh; /* Note usage of vh, not vw, to maintain camera aspect ratio */
	height: 80vh; /* Height = 0.75*width */
	border: 2px solid gold;
	border-radius: 8px;
	background: black url(images/no-camera.png) center/contain no-repeat;
	z-index: 10;
}

#logo {
	position: absolute;
	top: 0;
	width: 100vw;
	height: 10vh;
	object-fit: contain;
}