* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	overflow: hidden;
	background-color: #ddd;
	color: #222;
}

/* Webcam is displayed at 4:3, despite actually being 16:9 */
#camera { 
	width: 100vw;
	height: 100vh;
	background: black url(images/no-camera.png) center/contain no-repeat;
}

.grid {
	height: 100vh;
	width: 100vw;
	background-color: #ddd;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 20vh 1fr 1fr;
	grid-template-areas: 
		"error error error"
		"svolt speed pvolt"
		"soc   time  ptemp";
}

#error-region {
	grid-area: error;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 10vh;
}

.no-error {
	color: #222;
	background-color: #0f6;
}

.error {
	color: #222;
	background-color: #f30;
}

.svolt {
	grid-area: svolt;
}

.speed {
	grid-area: speed;
}

.pvolt {
	grid-area: pvolt;
}

.soc {
	grid-area: soc;
}

.time {
	grid-area: time;
}

.ptemp {
	grid-area: ptemp;
}

.dataViewer {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #222;
	font-size: 10vh;
}
